div Hi #{name},
br
div Your department’s request for a discount on Chinesepod.com services has been approved.
br
div With this all inclusive deal, all of your students will receive full premium access to our expansive library of over 4,000 audio and video lessons. The lessons are searchable and easily paired with course curriculum and homework, greatly increasing the value of your program.
br
div Some schools even allow the content for full on class credits. That’s when I discovered the program; When I was able to get a Minor in Mandarin Chinese from the University of North Texas using ChinesePod.
br
div Please let me know if you have any questions about the program. I look forward to setting up your accounts!
br
div Thanks,
br
div Sean Harvey
