div Hello #{firstName},
br
div.
    Nico Fung sent you a videomail.

div To retrieve, please go to: #[a(href=`https://chinesepod.com/videomail/${code}`, title='ChinesePod Video Message') Video Message].
br
div Looking forward to hear from you!!
br
div !{representativeSignature}
