div Dear #{name},
br
div I appreciate you might be very busy and wanted to make sure you received my recent email about ChinesePod products and how we can help you implement an efficient digital language program.
br
div I would love to jump on a call or Zoom at your convenience to take you through a possible partnership with #{nameOfEstablishment}.
br
div Is there a time that works for you this week or next for a brief call?
br
div Best,
br
div Ali
