div Dear #{name},
br
div I hope my follow up is perceived as a professional persistence rather then an annoyance.
br
div In short, we specialise in immersive Chinese learning through our curriculum build on 4,000+ audio and video content updated weekly, to choose from. Our lessons are available online and offline and can be access anywhere, anytime and on any device. For that reason our methods suits and is used by many establishments at a global level.
br
div Is there a time that works for you next week for a brief call?
br
div Best,
br
div Ali
