div Hi #{name},
br
div I noticed that your Chinese program was one of the few in your state not using Chinesepod.com to amplify the student experience and I wanted to send you an offer to help you stay competitive.
br
div Many students find our resources a great supplement to their curriculum. With over 4,000 lessons that can be deep searched to match any homework or lesson, Chinesepod.com is helping many students succeed  in learning Mandarin.
br
div I’d like to set you up with a free Premium account so you can see our content library for yourself. Once you see how easily you can pair your lesson plan with our content I think you will be impressed.
br
div I’d also like to let you know we have a special offer going on and I can set up all of your students for one low yearly price.
br
div Thanks,
br
div Sean Harvey
