div Hi #{name},
br
div I was reading a pretty scathing review about your Chinese program and how it doesn’t offer any auxiliary learning content. The student (who is already a member on Chinesepod.com) mentioned how they tend to get the assignment and then look up explanations on our website.
br
div I wanted to reach out directly and offer you a plan to get all of your students memberships. We work with a lot of schools in this regard and I’m able to offer you a low yearly rate to get everyone an account that needs one.
br
div For over 15 years ChinesePod has been offering audio and video lessons that are engaging and to the point. We have an in-depth search system that allows teachers and students to pair our lessons with the school’s curriculum.
br
div I even used the program myself to help get a Minor in Chinese from the University of North Texas. They didn’t even have a minor program in place but the content and my learning was enough to justify making one.
br
div Thanks,
br
div Sean Harvey
