div Hi #{name},
br
div I have been reading some online comments where students have been upset with the Mandarin Chinese program at your school. Comments like these can be very damaging to your school and the future of your program but I know Chinesepod.com can help.
br
div With over 4,000 lessons that can be easily searched to amplify your curriculum students won’t feel the need to complain anymore.
br
div I’d like to discuss how we can set up all of your students with Chinesepod.com access for one low discounted price. I have used this program myself to help get a minor in Mandarin and can testify to how great it is.
br
div My favorite thing about the lessons is how engaging they are. With charismatic hosts they tell a story that’s relevant to the content so you can have fun and learn at the same time.
br
div Thanks for your time,
br
div Sean Harvey
