div Hi #{name},
br
div I received a minor in Mandarin Chinese and can verify the value in having access to ChinesePod. The program helped me forge through with independent study and become the first person at The University of North Texas to achieve the minor.
br
div I know the program can help your students as well. Especially during this time with increased amounts of distance learning it can be hard for students to reach out for further meaningful study. ChinesePod helps because with over 4,000 audio and video lessons and great search functionality, there is a way to target in classroom vocabulary and concepts for further study.
br
div I am able to offer a very discounted rate to make sure all of your students have access to ChinesePod.
br
div If you’d like to try out the service go to chinesepod.com and set up a free account. If you let me know your email I can upgrade you to premium so you can see firsthand how we can help your students.
br
div I’d love to discuss any questions you might have, please let me know your thoughts so far.
br
div Thanks for your time,
br
div Sean Harvey
