div Hi #{name},
br
div I was contacted by the Director of World Languages that you were the person to talk to about setting your Chinese language program up with access to Chinesepod.com
br
div For over 15 years ChinesePod has been used at Universities to help students. With our vast library of audio and video lessons students and teachers are able to pair ChinesePod content with in school curriculum. This greatly increases the value proposition of your program and gives students a tool they can use to dive deeper into the language.
br
div I have used this program myself and was successful in receiving a minor in Mandarin Chinese even when there was no existing curriculum at the University of North Texas. To me that shows how incredible the service is.
br
div This matter is time sensitive as you are still in the window for the discount the Director set up for you.
br
div Please let me know any questions you may have. I’d be happy to help.
br
div Thanks,
br
div Sean Harvey
